.week {
  display: flex;
  justify-content: center;
  color: #a0aec0;
}

.schoolWeek {
  width: 50px;
  text-align: center;
  align-self: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #edf2f7;
  border-radius: 8px;
}
